
.thumbnail {
    /* width: 300px;
    display: block; */
    width: 100%;
    border-radius: 15px;
}
.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}
.video-time {
    background-color: black;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 3px;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}
  
.video-author,
.video-starts {
    color: #606060;
    font-size: 12px;
    margin-top: 0;
}
.video-author {
    margin-bottom: 4px;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
}

.video-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
   column-gap: 16px;
   row-gap: 40px;
}
@media (max-width: 750px) {
    .video-grid {
         grid-template-columns: 1fr 1fr;  
    } 
}
@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;  
   } 
}
@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;  
   } 
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 20px;
}